---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
$base-font-family: open-sans_regular;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     0px; //!!!!!!
$text-color:       #000; //#576058;
$background-color: #f1f1f1;
$brand-color:      #293e58;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$green-color:      #fff;
$content-width:    820px;
$on-palm:          720px;
$on-laptop:        920px;
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@import "base", "layout", "toc";
