<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Kontakt</h2>
        <h3 class="section-subheading">Folgende Wege der Kontaktaufnahme stehen für Sie zur Verfügung.</h3>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100" style="background-color: #898989;">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2" style="font-size:40px;"></i>
            <h4 class="text-uppercase m-0">Addresse</h4>
            <hr class="my-4">
            <div class=""><span class="btn btn-primary btn-xl text-uppercase">Siidik 6, 25980 Sylt</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100" style="background-color: #898989;">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2" style="font-size:40px;"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class=""><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="mailto:mail@findeisen.systems">mail<br/>@findeisen.systems</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100" style="background-color: #898989;">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2" style="font-size:40px;"></i>
            <h4 class="text-uppercase m-0">Telefon</h4>
            <hr class="my-4">
            <div class=""><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="tel:+4917641865073">+49 176 41865073</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-key text-uppercase"><a href="/files/findeisen@fonion.net.asc">PGP: B6FD 01F6 A26D 2F89 447D 4063 3C94 0094 90CB 1299</a></div>
  </div>
</section>
