<footer>
  <div class="container">
    <div class="row" style="display:block;">
      <div>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item"><a href="https://com.puting.de/"><i class="fas fa-blog"></i></a></li>
          <li class="list-inline-item"><a href="https://git.unixpeople.org/findeisen.systems"><i class="fab fa-git"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/findeisen-systems"><i class="fab fa-github"></i></a></li>
          <li class="list-inline-item"><a href="https://www.xing.com/profile/Johannes_Findeisen"><i class="fab fa-xing"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/johannesfindeisen/"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row" style="display:block;">
      <div style="margin:0;padding:10px;">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">Copyright &copy; 2002 - 2020</li>
          <li class="list-inline-item" style="margin0;padding:0;"><a data-toggle="modal" href="#privacy">Datenschutz</a></li>
          <li class="list-inline-item" style="margin0;padding:0;"><a data-toggle="modal" href="#imprint">Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

