<footer class="site-footer">
  <div class="wrapper" style="background-color: #fff;">
    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="/unternehmen/" class="page-link">Unternehmen</a> -
          <a href="/partner/" class="page-link">Partner</a> -
          <a href="/kontakt/" class="page-link">Kontakt</a> -
          <a href="/impressum/" class="page-link">Impressum</a><br /><br /></li>

          <li>{{ site.title }} &copy; 2002 - 2018</li>
          <li>Johannes Findeisen <a href="tel:+4017641865073" class="page-link">+49 176 / 41 86 50 73</a></li>
          <li><a href="mailto:{{ site.email }}" class="page-link">{{ site.email }}</a></li>
			  </ul>
      </div>
      <div class="footer-col  footer-col-2">
        <!--<p class="text">{{ site.description }}</p>-->
        <!--<p>advoid is an open source project by the advoid development team. Linux is a registered trademark of Linus Torvalds. Raspberry Pi is a registered trademark of the <a href="/">Raspberry</a> Pi Foundation.</p>-->
        <a href="{{ site.baseurl }}/"><img src="/images/logo.png" alt="Logo" /></a>
      </div>
      <!--<div class="footer-col  footer-col-3">

      </div>-->
    </div>
  </div>
</footer>
