<div class="portfolio-modal modal fade" id="imprint" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2 class="text-uppercase">Impressum</h2>
              <p class="item-intro text-muted">Verantwortlich für Inhalt und Bilder:</p>
              <p>Johannes Findeisen<br/>
                 Siidik 6<br/>
                 25980 Sylt<br/>
                 Deutschland<br/>
                 +49 176 418 650 73<br/>
                 <a href="mailto:mail@findeisen.systems">mail@findeisen.systems</a></p>
              <p>Wir prüfen und aktualisieren die Informationen auf diesen Webseiten ständig. Trotz aller Sorgfalt können sich die Daten inzwischen verändert haben. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen kann daher nicht übernommen werden. Gleiches gilt auch für alle anderen Webseiten, auf die mittels Hyperlink verwiesen wird. Johannes Findeisen ist für den Inhalt der Webseiten, die aufgrund einer solchen Verbindung erreicht werden, nicht verantwortlich. Des Weiteren behält sich Johannes Findeisen das Recht vor, Änderungen oder Ergänzungen der bereitgestellten Informationen vorzunehmen. Inhalt und Struktur der Webseiten sind urheberrechtlich geschützt. Die kommerzielle Vervielfältigung von Informationen oder Daten, insbesondere die kommerzielle Verwendung von Texten, Textteilen oder Bildmaterial, bedarf der vorherigen Zustimmung.</p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i> Schliessen
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

