<section id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Produkte</h2>
        <h3 class="section-subheading text-muted">Produkte entwickelt von Fonion.net. Für Preise kontaktieren Sie uns bitte für ein exklusives Angebot.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fas fa-user-secret fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Managed VPN Server</h4>
        <p class="text-muted">Surfen Sie in Zukunft mit ihrem Android Telefon oder ihrem Notebook über einen sicheren Kanal wenn Sie sich in fremden Netzen befinden. Mit einem OpenVPN Server von Fonion.net ist dies sehr einfach möglich. Wir verwalten den Server für Sie. 40TB Datentransfer ist enthalten.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="far fa-comments fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Managed XMPP Server</h4>
        <p class="text-muted">Gerne stellen wir Ihnen einen eigenen XMPP Server zur Verfügung. Sie bekommen hierfür auf Wunsch einen DNS Namen wie FIRMA.xmpp.network oder Sie richten einen Namen in Ihrem DNS ein. SSL Verschlüsselung ist selbstverständlich inklusive.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fas fa-question fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">In Entwicklung...</h4>
        <p class="text-muted">Mehr Informationen folgen sobald unsere Enwicklung abgeschlossen ist. Sie erfahren hier in den nächsten Monaten mehr Informationen über ein neues Produkt von Fonion.net. Wir bitten um Geduld.</p>
      </div>
    </div>
  </div>
</section>
