<section class="py-5" id="references">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Referenzen</h2>
        <h3 class="section-subheading text-muted">Für folgende Unternehmen wurden Lösungen entwickelt und realisiert.</h3>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.sap.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/sap.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.airplus.com/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/airplus.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.hays.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/hays.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.mbholding.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/mbholding.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.oil-tankstellen.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/oil.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.t-systems.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/tsystems.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.wdr.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/wdr.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.arbeitsagentur.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/arbeitsagentur.png" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.sysvision.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/sysvision.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.next-gmbh.eu/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/next.jpg" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.phonostar.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/phonostar.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.hks-b.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/hksb.png" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <!--<div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://andomo.com/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/andomo.png" alt="">
        </a>
      </div>-->
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.eos-uptrade.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/eosuptrade.png" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.oiltanking.com/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/oiltanking.jpg" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="http://www.haba.de/">
          <img class="img-fluid d-block mx-auto" src="/img/refs/haba.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
