<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Service</h2>
        <h3 class="section-subheading text-muted">Dienstleistungen von FINDEISEN.SYSTEMS</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fab fa-linux fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">System Beratung</h4>
        <p class="text-muted">Entwicklung und Planung von kleinen bis großen Server Umgebungen inklusive Provisionierung, Orchestrierung und Konfigurationsmanagement. Wir bevorzugen das Betriebssystem Linux. Auch im Desktop Bereich beraten wir Sie gern. Profitieren Sie von fast 20 Jahren Erfahrung.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fas fa-network-wired fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Netzwerke</h4>
        <p class="text-muted">Planung und Realisierung von kleinen bis großen LAN sowie WLAN Netzwerken. Fehleranalyse und Behebung von Problemen in bestehenden Infrastrukturen. Auch zum Thema Netzwerksicherheit wie Firewalls oder IDS stehen wir Ihnen gerne zur Verfügung.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fas fa-puzzle-piece fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Software Entwicklung</h4>
        <p class="text-muted">Individuelle Software Entwicklung für Unternehmen. Gestaltung und Programmierung von Desktop und Web basierten Anwendungen sowie Webseiten, Content Mangement Systeme, Online Shops etc. Auch freie Lösungen wie Wordpress etc. können eingesetzt werden.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fas fa-server fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Hardware Beratung</h4>
        <p class="text-muted">Beratung bei der Auswahl von Hardware für Server, Netzwerktechnik, Backup Systemen etc., genau zugeschnitten auf das was was Sie für Ihr Unternehmen benötigen. Profitieren Sie von unserer langjährigen Erfahrung. Wir beraten neutral denn wir verkaufen keine Hardware.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">IT Sicherheit</h4>
        <p class="text-muted">Wir beraten Sie gern im Bereich "Security". Hierzu gehört allgemeine Beratung für sichere Kommunikation im Bereich Email und Verschlüsselung. Desweiteren beraten und schulen wir Sie oder Ihre Angestellten gerne zum sicheren Umgang mit PC und Internet.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fab fa-android fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Android Anpassung</h4>
        <p class="text-muted">Anpassungen an Android basierten Telefonen wie zum Beispiel das Entfernen von unerwünschten Apps sowie das ersetzen des Systems durch eine freie und offene Alternative. Wir setzen hier auf das freie Android basierte Sytem LineageOS. Sprechen Sie uns an um mehr zu erfahren.</p>
      </div>
    </div>
  </div>
</section>
