<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Service</h2>
        <h3 class="section-subheading text-muted">Dienstleistungen von Fonion.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Communication Security</h4>
        <p class="text-muted">Gestaltung von sicheren Lösungen für die sichere Kommnunikation mit Email, XMPP, SMS etc. inklusive Verschlüsselung und Signierung von Nachrichten.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fab fa-linux fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Linux Engineering</h4>
        <p class="text-muted">Entwicklung und Planung von kleinen bis grossen Server Umgebungen inklusive Provisionierung, Orchestrirung und Konfigurationsmanagement. Auch im Desktop Bereich beraten wir Sie gern.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i style="color: black;" class="fab fa-android fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Android Customization</h4>
        <p class="text-muted">Anpassungen an Android basierten Telefonen wie zum Beispiel das Entfernen von unerwünschten Apps sowie das erstzen des Systems durch eine freie und offene Alternative.</p>
      </div>
    </div>
  </div>
</section>
