<section class="py-5" id="technology">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Technologie</h2>
      <h3 class="section-subheading text-muted">Folgende Software wird regelmässig bei Kunden eingesetzt.</h3>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.gnu.org/">
          <img class="img-fluid d-block mx-auto" src="img/tech/gnu.png" alt="">
        </a><div style="text-align: center;">GNU</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.kernel.org/">
          <img class="img-fluid d-block mx-auto" src="img/tech/linux.png" alt="">
        </a><div style="text-align: center;">Linux</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.theforeman.org/">
          <img class="img-fluid d-block mx-auto" src="img/tech/foreman.png" alt="">
        </a><div style="text-align: center;">Foreman</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://puppet.com/">
          <img class="img-fluid d-block mx-auto" src="img/tech/puppet.png" alt="">
        </a><div style="text-align: center;">Puppet</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.openvpn.net/">
          <img class="img-fluid d-block mx-auto" src="img/tech/openvpn.jpg" alt="">
        </a><div style="text-align: center;">OpenVPN</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://prosody.im/">
          <img class="img-fluid d-block mx-auto" src="img/tech/prosody.png" alt="">
        </a><div style="text-align: center;">Prosody</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.centos.org/">
          <img class="img-fluid d-block mx-auto" src="img/tech/centos.png" alt="">
        </a><div style="text-align: center;">CentOS</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://puppet.com/">
          <img class="img-fluid d-block mx-auto" src="img/tech/docker.png" alt="">
        </a><div style="text-align: center;">Docker</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.gnu.org/software/bash/">
          <img class="img-fluid d-block mx-auto" src="img/tech/bash.png" alt="">
        </a><div style="text-align: center;">Bash</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.android.com/">
          <img class="img-fluid d-block mx-auto" src="img/tech/android.png" alt="">
        </a><div style="text-align: center;">Android</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://www.alpinelinux.org/">
          <img class="img-fluid d-block mx-auto" src="img/tech/alpine.jpg" alt="">
        </a><div style="text-align: center;">Alpine Linux</div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:25px;">
        <a href="https://opensource.org/">
          <img class="img-fluid d-block mx-auto" src="img/tech/opensource.png" alt="">
        </a><div style="text-align: center;">Open Source</div>
      </div>
    </div>
  </div>
</section>
