<section class="py-5" id="technology">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Technologie</h2>
      <h3 class="section-subheading text-muted">Folgende Software wird regelmässig bei Kunden eingesetzt.</h3>
      </div>
      <div class=" col-md-3 col-sm-6" style="padding:12px;">
        <a href="https://www.gnu.org/">
          <img class="technology-image rounded-circle img-fluid d-block mx-auto" style="border-color:#fed136;" src="img/tech/gnu.jpg" alt=""> 
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:12px;">
        <a href="https://www.kernel.org/">
          <img class="technology-image rounded-circle img-fluid d-block mx-auto" style="border-color:#fed136;" src="img/tech/linux.jpg" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:12px;">
        <a href="https://opensource.org/">
          <img class="technology-image rounded-circle img-fluid d-block mx-auto" style="border-color:#fed136;" src="img/tech/opensource.jpg" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6" style="padding:12px;">
        <a href="https://www.android.com/">
          <img class="technology-image rounded-circle img-fluid d-block mx-auto" style="border-color:#fed136;" src="img/tech/android.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
