.site-header {

    //min-height: 56px;
    text-align: left;

    // Positioning context for the mobile navigation icon
    position: relative;
    //background-color: #fff;
}

.site-header .wrapper {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 0px solid #000;
    background-color: #fff;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 0px;
  //  	-webkit-border-radius: 16px;
	//-moz-border-radius: 16px;
	border-radius: 8px 8px 0 0;
}

.site-title {
    font-size: 26px;
    //line-height: 56px;
    //letter-spacing: -1px;
    margin-bottom: 0;
    //float: left;
    text-align: center;

		img {
			//padding-top:6px;
		}
		
    &,
    &:visited {
        color: $grey-color-dark;
    }
    //background-color: #fff;
}

.site-nav {
    //float: left;
    text-align: center;
    //line-height: 36px;
	  //background-color: #000;
	  margin-top:22px;
    .menu-icon {
        display: none;
        z-index: 289;
    }

    .page-link {
        //color: $green-color;
        color: $brand-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 1px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 68px;
        right: 9px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 289;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $brand-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.site-footer {
    border: 0;
    //border-top: 2px solid $green-color;
    //border-bottom: 10px solid $green-color;
    //padding-top: 8px;
    //background-color: #fff;

    //.page-link {
    //    color: $green-color;
    //    line-height: $base-line-height;
    //}
    
        a {
      color: $brand-color;
    }
}

.site-footer .wrapper {
    border-left: 1px solid #000;
    border-top: 0px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #fff;
        padding-left: 30px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 0 0 8px 8px;
}

.footer-heading {
    font-size: 18px;
    //margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    //margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(75% - (#{$spacing-unit} / 2));
    width:         calc(75% - (#{$spacing-unit} / 2));
    margin-left: 8px;
}

.footer-col-2 {
    width: -webkit-calc(23% - (#{$spacing-unit} / 2));
    width:         calc(23% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        text-align: center;
    }

    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        text-align: center;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.page-content {
    //padding: $spacing-unit 0;
    //background-color: #fff;

    text-align: justify;

    a {
      color: $brand-color;
    }
    
    ul {
      margin-left: 50px;
    
    }
    h1,h2 {
    margin-top:18px;
    }
}

.page-content .wrapper {
    border-left: 1px solid #000;
    border-top: 0px solid #000;
    border-right: 1px solid #000;
    border-bottom: 0px solid #000;
    background-color: #fff;
        padding-left: 30px;
    padding-top: 3px;
    padding-right: 30px;
    padding-bottom: 30px;
    
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-header {
    margin-bottom: $spacing-unit;
/*
width: 844px;
margin-left: auto ;
margin-right: auto ;
*/
    margin-left:6px;
    //margin-right: 24px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: justify;
/*
width: 844px;
margin-left: auto ;
margin-right: auto ;
*/
    margin-left:8px;
    margin-right: 8px;
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
